/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */


body {
  margin: 0%;
  background-color: #46424D;
  font-family: Montserrat;
  color: #CBC9CF;
}

header {
  text-align: center;
  font-size: 3vh;
  margin-top: 1.5%;
}

h1{
  font-size: 3vh;
}

h2 {
  font-size: 2.5vh;
  color: #FFF;
}

p{
  font-size: 2vh;
  text-align: center;
  margin: 1vh 0;
}

input[type="text"] {
  width: 97%;
  background-color: #46424D;
  border: 0;
  color: #CBC9CF;
  outline: none;
  font-size: 2.5vh;
}

hr {
  margin: 0;
  border-color: #CBC9CF;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 91%;
  bottom: 0;
}

.new-activity-box {
display: flex;
flex-direction: column;
background-color:#2B2733;
width: 60%;
margin-right:0.3%;
}

.past-activity-box {
  background-color:#2B2733;
  width: 39.5%;
}

.category-box {
  position: absolute;
  width: 56%;
  height: 85%;
  background-color: #46424D;
  margin: 5.5% 2% 0% 2%;
  border-radius: 0.5vh;
  box-shadow: 3px 3px 4px 5px #26222D;
}

#category-box-wrapper {
  padding: 5vh 14vh;
}

.radio-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.radio-button-container {
  position: relative;
}

.radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

.category-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.3vh solid #FFF;
  border-radius: 0.5vh;
  width: 22vh;
  height: 10vh;
  background-color: #46424D;
  color: #FFF;
  font-size: 2.5vh;
}

.category-images {
  width: 3vh;
  height: 3vh;
  margin-bottom: 0.5vh;
}

.activity-title {
  margin-left: 3.2%;
  margin-top: 4vh;
}

#accomplish-inputs {
  margin-top: 8vh;
}

#select-category-title {
  margin-bottom: 3vh;
}

.new-activity-title {
  margin-bottom: 3vh;
}

.min-sec-input {
  display: flex;
  justify-content: space-between;
  margin-top: 8vh;
}

#minutes-inputs {
  width: 42%;
}

#seconds-inputs {
  width: 42%;
  text-align: left;
}

#start-button {
  margin-top: 5vh;
  height: 5vh;
  width: 25vh;
  border-radius: 0.5vh;
  border: 0;
  font-size: 2.2vh;
}

#start-button-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

#no-activity-message {
  margin-top: 6vh;
}
