body {
  margin: 0%;
  background-color: #46424D;
  font-family: Montserrat;
  color: #CBC9CF;
  overflow: auto;
}

header {
  text-align: center;
  font-size: 3vh;
  margin-top: 1.5%;
}

h1{
  font-size: 3vh;
}

h2 {
  font-size: 2.5vh;
  color: #FFF;
}

hr {
  margin: 0;
  border-color: #CBC9CF;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 91%;
  bottom: 0;
  min-width: 1080px;
  min-height: 600px;
  overflow: hidden;
}

/* -----Title Style Section----- */
.title-style {
display: flex;
flex-direction: column;
background-color:#2B2733;
width: 60%;
margin-right:0.3%;
}

.activity-title {
  margin-left: 3.2%;
  margin-top: 4vh;
}

/* ------New Activity Section------ */
.activity-window-buttons {
  height: 5vh;
  width: 25vh;
  border-radius: 0.5vh;
  border: 0;
  font-size: 2.2vh;
}

.category-box {
  position: absolute;
  width: 56%;
  height: 85%;
  background-color: #46424D;
  margin: 5.5% 2% 0% 2%;
  border-radius: 0.5vh;
  box-shadow: 3px 3px 4px 5px #26222D;
}

.category-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.3vh solid #FFF;
  border-radius: 0.5vh;
  width: 22vh;
  height: 10vh;
  background-color: #46424D;
  color: #FFF;
  font-size: 2.5vh;
}

.category-images {
  width: 3vh;
  height: 3vh;
  margin-bottom: 0.5vh;
}

.min-sec-input {
  display: flex;
  justify-content: space-between;
  margin-top: 8vh;
}

.time-inputs-spacing {
  width: 42%;
}

input[type="number"] {
  width: 97%;
  background-color: #46424D;
  border: 0;
  color: #CBC9CF;
  outline: none;
  font-size: 2.5vh;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#new-activity-window-wrapper {
  margin: 6% 10%;
}

.radio-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.radio-button-container {
  position: relative;
}

.radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

#user-activity-inputs {
  margin-top: 8vh;
}

input[type="text"] {
  width: 97%;
  background-color: #46424D;
  border: 0;
  color: #CBC9CF;
  outline: none;
  font-size: 2.5vh;
}

#warning-image {
  width: 3vh;
  height: 2.6vh;
  margin-bottom: 0.5vh;
}

.warning-message-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.warning-phrase {
  color: #EFB7EC;
  margin: 3vh 0vh 0 1vh;
}

#select-category-title {
  margin-bottom: 3vh;
}

#start-button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-items: flex-end;
  position: absolute;
  margin: 2vh 0;
}

#start-activity-button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

#time-warning-phrase {
  margin: 0 0 0 1vh;
  font-size: 2.2vh;
  width: 100%;
}

/* ---Current Activity Section--- */
#congrats-message {
  font-size: 7vh;
  white-space: nowrap;
}

#current-activity-description {
  font-size: 3vh;
  color: #CBC9CF;
  margin-bottom: 0;
}

#current-activity-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 22vh 0 22vh;
  margin: 4vh 0 4vh 0;
}

#round-button {
  margin-top: 4vh;
  font-size: 4vh;
  color: #CBC9CF;
  background-color: #46424D;
  height: 32vh;
  width: 32vh;
  border-radius: 50%;
  border: 0.5vh solid;
  border-color: #FFF;
}

input[id="Study"]:checked + div.category-buttons {
  border: 0.3vh solid #B3FD78;
  color: #B3FD78;
}

input[id="Meditate"]:checked + div.category-buttons {
  border: 0.3vh solid #C278FD;
  color: #C278FD;
}

input[id="Exercise"]:checked + div.category-buttons {
  border: 0.3vh solid #FD8078;
  color: #FD8078;
}

button:focus:active { 
  border: none; 
  outline: none; 
}

#timer {
  font-size: 13vh;
  font-weight: 600;
  font-family: sans-serif;
  color: #FFF;
}

.timer-message-wrapper {
  margin: 0 0 4vh 0;
  height: 13vh;
}

/* ---Completed Activity Section--- */
#create-activity-button {
  width: 42vh;
  margin-top: 12vh;
}

#create-activity-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

#completed-activity-window {
  justify-content: center;
}

/* ---Past Activity Section--- */
.card {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#card-category {
  font-weight: 900;
  color: #FFF;
  font-size: 2vh;
}

#card-description {
  font-size: 1.6vh;
}

#card-time {
  margin-bottom: 1vh;
}

.color-indicator {
  background-color: white;
  height: 3.5vh;
  width: 0.5vh;
  border-radius: 2vh;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5vh;
  margin: 4.2% 3.2%;
  background-color: #46424D;
  list-style-type: none;
  border-radius: 1vh;
  box-shadow: 4px 4px 3px 3px #26222D;
}

#log-activity-button {
  width: 34vh;
  margin-top: 3.5vh;
}

#no-activity-message {
  margin-top: 6vh;
}

p{
  font-size: 2vh;
  text-align: center;
  margin: 1vh 0;
}

.past-activity-box {
  background-color:#2B2733;
  width: 39.5%;
  overflow: scroll;
}

ul {
  padding: 0;
}

/* ---Stays at the bottom to hide all elements--- */
.hidden {
  display: none;
}
